body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black!important;
}






#IMAGE{
    margin-top: 100px!important;

}


h1{
    text-align: center;
    font-size: 80px;
    margin-top: 20px!important;
    letter-spacing: 20px;
    font-family: jokerman;
    margin-bottom: 40px!important;
    color: cornflowerblue;
}



p{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: chiller;
    font-size: 25px;
}
